<li>
 <a href="http://evandro.org:3000/website/governo-eletronico"><span class='icon-menu-rbd'>Governo Eletrônico</span></a>
</li>
<li>
 <a href="http://evandro.org:3000/website/videos"><span class='icon-menu-rbd'>Vídeos</span></a>
</li>
<li>
 <a href="http://evandro.org:3000/website/noticias"><span class='icon-menu-rbd'>Notícias</span></a>
</li>
<li>
 <a href="http://evandro.org:3000/website/campanhas"><span class='icon-menu-rbd'>Campanhas</span></a>
</li>
<li>
 <a href="http://evandro.org:3000/website/midias-sociais"><span class='icon-menu-rbd'>Mídias Sociais</span></a>
</li>
<li>
 <a href="http://evandro.org:3000/website/graticos"><span class='icon-menu-rbd'>Gráficos</span></a>
</li>

